body {
    background-image: url(images/wildtextures-wooden-chopping-board-texture-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner {
    background-image: url(images/799210420_preview_ravioli-1.jpg);
    height: 250px;
    width: auto;
    background-attachment: fixed;
    
    display: block;
}
.ribbon {
    font-size: 50px !important;
    width: 50%;
    position: relative;
    background: linear-gradient(0deg, #069 0%, #09c 99%);
    color: #fff;
    text-align: center;
    padding: 1em 0em;
    margin: auto;
    margin-top: 1em;
}
.page {
    background: white;
    height: 1125px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
ol {
    font-family: 'Roboto', sans-serif;
}
li{
    margin-top:10px;
}
.directionsword {
    font-weight: 700;
    font-family: 'Inknut Antiqua', serif;
}
.directions {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
}
.horsep {
    border-bottom: 1px solid #9b9b9b;
}
.info {
    font-family: 'Inknut Antiqua', serif;
    margin-left: 40px;
}
.ingredients {
    margin-left: 10px;
    margin-right: 40px;
    padding-top: 30px;
}
ul {
    font-family: 'Roboto', sans-serif;
}
.ingredientword {
    font-weight: 700;
    font-family: 'Inknut Antiqua', serif;
}
.slider{
  position: relative;
  overflow: hidden;
  height:250px;
  margin:auto;
  transform: translate3d(0,0,0);
 }
.slider > div{
   
    width: 999999999999999999999px;
    background: url(images/slider.jpg);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
background-repeat:repeat-x;
transform: translate3d(0,0,0);
}
.slider .pictures{
  animation: slider 100000s linear infinite;
  transform: translate3d(0,0,0);
}
@keyframes slider {  
 100% { 
    transform: translateX(-66.6666%);  
  }
}
